:root {
	--color-primary: #267af9;
	--color-primary-dark: #1e62d0;
	--color-primary-light: #4a8fff;
	--color-primary-alpha-1: rgba(38, 122, 249, 0.1);
	--color-primary-alpha-2: rgba(38, 122, 249, 0.3);

	--color-danger: #ff4d4d;
	--color-danger-dark: #cc3333;

	--background: #fff;
	--background-2: #f4f4f4;
	--background-3: #e0e0e0;

	--background-dark: #1f1f29;
	--background-dark-2: #2b2b3b;
	--background-dark-3: #3b3b4b;

	--text-color: #000;
	--text-color-dark: #fff;

	--in-progress: #ffcc00;
	--in-progress-border: #e6b800;
	--queued: #267af9;
	--queued-border: #1e62d0;
	--done: #00cc66;
	--done-border: #00b359;
	--failed: var(--color-danger);
	--failed-border: var(--color-danger-dark);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid black; */
}

body {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	color: var(--text-color);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
}

/* Header */
header {
	background-color: var(--background);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
}

header .menu-btn {
	display: none;
	position: absolute;
	left: 1.5rem;
}

header .add-product {
	display: none;
	position: absolute;
	right: 1.5rem;
	padding: 0.5rem;
	height: 2.5rem;
}

.logo {
	padding: 1.5rem 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	line-height: 2rem;
	width: -moz-fit-content;
	width: fit-content;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 0 30px;
}

nav {
	display: flex;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 40px;
}

nav ul li a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.2rem;
	font-weight: 400;
}

nav ul li a:hover {
	/* color: var(--color-primary-dark); */
	text-decoration: underline;
}

@media screen and (max-width: 450px) {
	.main-nav {
		display: none;
	}

	header {
		justify-content: center;
	}

	header .menu-btn,
	header .add-product {
		display: block;
		/* padding: 1.5rem 1.5rem; */
	}
}

#dashboardMain {
	--header-height: calc(
		2rem + (1.5rem * 2)
	); /* Line height + (padding * 2) */
	display: grid;
	grid-template-areas: "nav content";
	grid-template-rows: 1fr;
	grid-template-columns: 300px 1fr;
	margin: var(--header-height) 0 0 0;
	height: calc(100vh - var(--header-height));
}

#dashboardNav {
	grid-area: nav;
	background-color: var(--background);
	border-right: 1px solid var(--background-3);
}

#dashboardNav nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#dashboardNav ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	list-style: none;
	width: 100%;
}

#dashboardNav li {
	/* padding: 20px 0; */
}

#dashboardNav a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 5px;
}

#dashboardNav a:hover {
	background-color: var(--background-2);
	text-decoration: none;
}

.homepage-link {
	padding: 20px;
}

.homepage-link a {
	text-decoration: none;
	color: var(--text-color);
}

@keyframes menuSlideIn {
	0% {
		transform: translateX(-100%);
		display: block;
	}
	100% {
		transform: translateX(0);
		display: block;
	}
}

@keyframes menuSlideOut {
	0% {
		transform: translateX(0);
		display: block;
	}
	100% {
		transform: translateX(-100%);
		display: block;
	}
}

@media screen and (max-width: 450px) {
	#dashboardMain {
		grid-template-areas: "content";
		grid-template-columns: 1fr;
	}

	#dashboardNav {
		display: none;
		transform: translateX(-100%);
		width: 70%;
		height: calc(100% - var(--header-height));
		transition: all 0.5s;
		animation: menuSlideOut 0.2s ease-in-out;
		position: fixed;
		box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
		background-color: var(--background-2);
		border-right: none;
	}

	#dashboardNav.menu.menu--open {
		transform: translateX(0);
		display: block;
		position: fixed;
		animation: menuSlideIn 0.2s ease-in-out;
	}

	#dashboardNav a:hover {
		background-color: var(--background-3);
	}
}

section {
	height: 200vh;
}

#intro {
	padding: 0 0 0 170px;
	background-image: url(../img/intro-bg.jpg);
	background-size: cover;
	background-position: center center;
}

#intro .intro-content {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: 1fr 700px;
	grid-template-areas: "timeline intro-content"
	"intro-image intro-image";
	width: 100%;
	height: 100%;
	padding-top: 200px;
}

#intro::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200vh;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		131deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 15%,
		rgba(255, 255, 255, 0) 100%
	);
	z-index: 0;
}

#intro .timeline {
	grid-area: timeline;
	display: flex;
	flex-direction: column;
	z-index: 1;
	gap: 10px;
	position: relative;
}

#intro .intro-image-wrapper {
	grid-area: intro-image;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -85px;
	top: -150px;
	z-index: 2;
}

#intro .intro-image-wrapper img {
	width: 100%;
	border-radius: 10px;
	border: 1px solid white;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.timeline-ball {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	/* background-color: var(--color-primary); */
	border: 2px solid black;
	margin: 0 auto;
}

.timeline-line {
	width: 5px;
	margin: 0 auto;
	border-radius: 2px;
	background: var(--color-primary);
}

.timeline-line.first {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		transparent,
		var(--color-primary) 50%
	);
}

.timeline-icon {
	width: 32px;
	height: 28px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timeline-icon svg {
	width: 100%;
	height: 100%;
}

#intro .section-content {
	height: 100%;
	width: 100%;
	grid-area: intro-content;
	display: flex;
	flex-direction: column;
	gap: 100px;
	z-index: 1;
}

#intro .section-content h1 {
	font-size: 4rem;
	font-weight: bold;
}

#intro .section-content p {
	font-size: 2rem;
	color: #666;
}

h2 {
	font-size: 3rem;
	font-weight: bold;
}

.content-section {
	display: flex;
	align-items: center;
}

.section-text h2 {
	width: 75%;
}

.section-img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-img img {
	width: 100%;
}

@media screen and (max-width: 450px) {
	.content-section {
		flex-direction: column;
		padding: 0;
		height: 75vh;
		gap: 50px;
		margin: 100px 0;
	}

	section:nth-child(even) {
		flex-direction: column-reverse;
	}

	.section-text {
		width: 100%;
	}

	.section-text h2 {
		font-size: 2rem;
	}

	.section-img {
		width: 100%;
	}
}

#outro {
	background-image: url(../img/outro-bg.jpg);
	background-size: cover;
	background-position: center center;
	color: #fff;
	/* text-align: center; */
	display: grid;
	grid-template-columns: 1fr 400px 1fr 40%;
	grid-template-rows: 1fr 500px 1fr;
	grid-template-areas:
		". . . ."
		". outro-content-wrapper . ."
		". . . .";
}

.outro-content-wrapper {
	grid-area: outro-content-wrapper;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.outro-btns {
	display: flex;
	width: 100%;
	justify-content: start;
}

/* Dashboard content */

#dashboardContent {
	grid-area: content;
	padding: 20px;
	width: 100%;
	overflow-y: scroll;
	background-color: var(--background);
}

.dashboardHeader {
	width: 100%;
	padding: 20px;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dashboardHeader a {
	display: flex;
	align-items: center;
	gap: 10px;
}

@media screen and (max-width: 450px) {
	.dashboardHeader a,
	.item-header button {
		display: none;
	}
}

.item-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.error {
	width: calc(100% - 20px);
	display: flex;
	justify-content: center;
	/* align-items: center; */
	margin-top: 150px;
	font-size: 1.3rem;
}

@media screen and (max-width: 450px) {
	.error {
		margin-top: 100px;
		font-size: 1rem;
	}
}

.item {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	margin: 10px 0;
	color: var(--text-color);
	text-decoration: none;
}

.item h2 {
	line-height: 1.17rem;
}

.item p {
	font-size: 1rem;
	line-height: 1rem;
}

.placeholder-item .item-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item-text-wrapper {
	display: flex;
	gap: 20px;
	align-items: center;
}

.item-status {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 600;
	color: white;
}

.item-buttons {
	display: flex;
	flex-direction: row-reverse;
	gap: 20px;
}

.item-status.queued {
	background: var(--queued);
	border: 1px solid var(--queued-border);
}

.item-status.in-progress {
	background: var(--in-progress);
	border: 1px solid var(--in-progress-border);
}

.item-status.completed {
	background: var(--done);
	border: 1px solid var(--done-border);
}

.item-status.failed {
	background: var(--failed);
	border: 1px solid var(--failed-border);
}

.placeholder-item-title {
	display: block;
	min-height: 1.17rem;
	width: 150px;
	background: var(--background-3);
	border-radius: 3px;
}

.placeholder-item-subtitle {
	display: block;
	min-height: 1rem;
	width: 100px;
	background: var(--background-3);
	border-radius: 3px;
}

.btn.placeholder {
	color: var(--background-3);
	background-color: var(--background-3);
}

.btn.placeholder:hover {
	color: var(--background-3);
	background-color: var(--background-3);
}

.item:hover {
	background-color: var(--background-2);
}

.item-list-divider {
	width: 100%;
	border-bottom: 1px solid #eee;
}

.item-list-divider:last-child {
	border: none;
}

#dashboardContent .content-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.content-wrapper .left-row {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-right: 1px solid var(--background-3);
}

.content-wrapper .right-row {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.item-title {
	font-size: 2rem;
	font-weight: 600;
	/* padding: 0 20px; */
}

.item-brief p {
	font-size: 1.3rem;
}

.item-brief {
	margin: 20px 0;
}

.item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

#orderForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

#orderForm input {
	width: 200px;
	background: var(--background-3);
	font-size: 1rem;
	border: 1px solid #eee;
	padding: 10px 20px;
	border-radius: 5px;
}

#orderForm input:focus {
	outline: none;
	border: 1px solid var(--color-primary);
}

.orders {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 20px;
}

.place-order {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.place-order h3 {
	font-size: 1.5rem;
	text-align: center;
}

@media screen and (max-width: 450px) {
	.content-wrapper {
		flex-direction: column;
	}

	.content-wrapper .left-row {
		width: 100%;
		border-right: none;
	}

	.content-wrapper .right-row {
		width: 100%;
		height: fit-content;
	}
}

#dashboardContent.add-product-wrapper {
	box-sizing: border-box;
	padding: 50px;
}

.add-product-wrapper h2 {
	font-size: 2rem;
}

#addProductForm {
	width: 100%;
	/* padding: 50px; */
	padding: 50px 0;
}

form .input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* padding: 10px 0; */
	padding: 10px 0 10px 50px;
}

form .input-group label {
	font-size: 1.2rem;
}

form .input-group input {
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid var(--background-2);
	background-color: var(--background-2);
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
}

form .input-group input[type="number"] {
	width: 200px;
}

form .input-group input:focus,
form .input-group select:focus {
	border: 2px solid var(--background-3);
	outline: none;
}

form .input-group select {
	width: 200px;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid var(--background-2);
	background-color: var(--background-2);
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20stroke%3D%22%23267af9%22%20stroke-width%3D%2220%22%20fill%3D%22%23267af9%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}

/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
	display: none;
}

form#addProductForm button[type="submit"] {
	margin: 20px 0;
	padding: 15px 20px;
	font-size: 1.2rem;
}

.btn {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	text-decoration: none;
	line-height: 1.2rem;
}

.btn-primary {
	background-color: var(--color-primary);
	color: white;
}

.btn-secondary {
	background-color: var(--background);
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.btn-danger {
	background-color: var(--color-danger);
	color: white;
}

.btn-order {
	width: 200px;
}

.btn-primary:hover {
	background-color: var(--color-primary-dark);
}

.btn-secondary:hover {
	background-color: var(--color-primary-alpha-1);
	color: var(--color-primary-dark);
}

.btn-secondary:active {
	background-color: var(--color-primary-alpha-2);
}

.btn-danger:hover {
	background-color: var(--color-danger-dark);
}

.btn-log-in {
	font-weight: 600;
	border-width: 2px;
	padding: 9px 20px;
}

.carousel-wrapper {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel {
	padding: 25px;
	width: 100%;
	height: 400px;
}

.carousel-cell {
	width: 70%;
	height: 100%;
	margin: 0 20px;
	background-color: red;
	transform: scale(1);
	transition: opacity 0.5s ease-in-out;
}

.carousel-cell:not(.is-selected) {
	opacity: 0.5;
}

.flickity-button {
	display: none;
}

@media screen and (max-width: 450px) {
	.carousel-wrapper {
		width: 100%;
		height: 100%;
	}

	.carousel {
		padding: 0;
	}

	.carousel-cell {
		height: 100%;
	}
}
